:root
{
    --white: #e5e9f0;
    --black: #000;
    --yellow: #f9ca24;
}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* navigation bar */
nav {
    background-color: var(--black);
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    position: sticky;
    top:0;
    z-index: 1;
    border-bottom: 2px solid var(--yellow);
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
  }
  
  nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
    padding: 0px 15px;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  nav ul li a:hover {
    color: var(--yellow);
    text-decoration: overline;
  }

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 640px;
    width: 100%;

}

#home::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: aliceblue;
    background-position: center;
    height: 650px;
    width: 100%;
    z-index: -1;

}

.main{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 35%;
    left: 16%;

}

img{
    height: 256px;
    width: 256px;
    border: 5px solid var(--yellow);
    border-radius:50%;
    margin-top: 12%;
    margin-left: 65%;
}

.main span{
    font-size: 15px;
    font-weight: 100px;
    color: var(--white);

}

.main h1{
    font-size: 55px;
    font-weight: 700;
    color: var(--yellow);
    word-spacing: 4px;
}

.main p{
    padding-top: 5px;
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
}

.main .btn{
  outline: none;
  width: 200px;
  margin-top: 40px;
  margin-left: 100px;
  padding: 11px 0px;
  font-size: 17px;
  font-weight: 500;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
}
.main .btn:hover{
    color: var(--black);
    background-color: var(--yellow) ;
    border: none;
    box-shadow: 1px 2px 5px 2px rgb(71, 71, 71);
    transition: .6s ease;
}

/* About section */
#about{
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    padding: 0px 100px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 70%;
    padding: 40px 0 0px 0px;
}
.heading{
    font-size: 45px;
    font-weight: 600;
    color: var(--yellow);
    padding: 30px 0;
    text-align: center;
 }

 .intro p{
    font-size: 20px;
    padding:60px;
    word-spacing: 4px;
    padding-top: 60px;
 }

 /*services section*/
#services{
    display: flex;
    flex-direction: column;
    background-color:var(--black);
    height: 635px;
    /* align-items: center; */

} 

.s-heading{
    font-size: 45px;
    font-weight: 600;
    padding: 60px 0 35px 0;
    text-align: center;
    color: var(--yellow);
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top : 40px;
}

.box{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 350px;
    border: 1px solid var(--white);
    border-radius: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px 20px 15px;
    /* background: linear-gradient(to top, yellow 50%, white 50%); */
    background-color: #000;
    color: var(--white);
    background-size: 100% 200%;
    transition: 0.8s ease;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 25px rgb(71, 71, 71);
}

.box h1{
    font-size: 45px;
    padding: 30px 0 35px 0;
    text-align: center;
    color: var(--yellow);
}

.box p{
    padding: 10px 15px ;
}

/*contact*/
#contact{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items:center;
    padding: 10px 100px;
    overflow: hidden;
}

#contact h1{
    font-size: 45px;
    font-weight: 600;
    padding: 45px 0 30px 0;
    text-align: center;
    color: var(--yellow);
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

label{
    font-size: 19px;

}

input,textarea{
    padding: 12px;
    margin: 20px 0;
    width: 80%;
    background-color: var(--white);
    border: 1px solid var(--black);
    outline: none;
    border-radius: 10px;
}

#submit{
    outline: none;
    width: 175px;
    margin-top: 20px;
    padding: 11px 0px;
    font-size: 17px;
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 50px;
}
#submit:hover{
    background-color: var(--yellow);
    color: var(--black);
    border: none;
}

/*footer*/
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 40px;
    font-size: 10px;
    text-align: center;
    /* bottom: 0; */
}
h3{
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma;
    font-weight: 100;
}
